:root {
  --main-color: #fff;
  --secondary-color: #000;
  --third-color: #ffff00;
}

h2,
.liApp li,
.liVideo li,
.nav-link {
  font-family: "Poiret One", cursive;
}

h1 {
  font-family: "Ultra", serif;
  color: var(--main-color);
}

h2 {
  line-height: 2.5;
  color: var(--third-color);
}

p {
  font-size: 32px;
  color: var(--main-color);
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 150px 0px;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 2)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.textNavbar {
  color: var(--secondary-color);
}

.layerOne {
  border-style: 1px solid var(--secondary-color);
  margin: 100px 0px;
  padding: 40px 0px;
}

.weatherAppImage {
  padding: 5px;
  background-color: var(--secondary-color);
}

.layerOneHeading {
  color: var(--secondary-color);
}

.layerOneHeading {
  font-family: "Ultra", serif;
  text-align: center;
}

.liApp li,
.liVideo li {
  font-size: 22px;
  list-style-type: none;
  text-align: center;
}

.liVideo li {
  color: var(--main-color);
}

.weatherAppLink a,
.contactLink a {
  padding: 20px 15px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  font-family: "Poiret One", cursive;
  box-shadow: 4px 4px 4px rgb(236, 234, 112);
}

.weatherAppLink a {
  background-color: var(--secondary-color);
  color: var(--third-color);
  text-align: center;
  margin-left: 25px;
}

.contactLink a {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.contactLink {
  margin-top: 35px;
}

.weatherAppLink {
  text-align: center;
}

.headingOneHomepage {
  font-size: 36px;
  text-align: center;
  margin-top: -20px;
}

.layerTwo {
  background-color: black;
  padding: 100px 30px 70px 30px;
}

.layerTwoHeading {
  text-align: center;
}

.aguaDasPedras {
  border: 2px solid var(--main-color);
  border-radius: 5px;
  display: block;
  margin: 0px auto;
}

a .fab {
  border: none;
  border-radius: 24px;
  background-color: var(--third-color);
  color: var(--secondary-color);
  text-decoration: none;
  padding: 7px 7px;
  margin: 15px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.icons {
  display: flex;
  justify-content: end;
}

.aboutHeaderTwo {
  font-family: "Ultra", serif;
  color: var(--main-color);
  line-height: 1.5;
  text-align: center;
  font-size: 40px;
}

h3 {
  color: var(--third-color);
  font-family: "Poiret One", cursive;
  text-align: center;
  font-size: 48px;
  margin: 30px 0px;
}

.aboutPic {
  display: block;
  margin: 0px auto;
  width: 50%;
  border-radius: 360px;
}

.aboutSection {
  background-color: var(--secondary-color);
  padding: 100px;
}

.aboutLink a {
  text-decoration: none;
  color: var(--third-color);
  font-family: "Poiret One", cursive;
  background-color: var(--secondary-color);
  padding: 20px 30px;
  border-radius: 8px;
  text-transform: capitalize;
  border: 1px solid var(--main-color);
  margin: 25px;
}

.aboutLink {
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color);
}

@media only screen and (max-width: 768px) {
  .layerTwoHeading,
  .layerOneHeading {
    line-height: 1;
    text-align: center;
  }

  .liApp li,
  .liVideo li {
    font-size: 18px;
    margin-top: 25px;
    text-align: center;
    line-height: 1;
    margin-left: -35px;
  }

  .aguaDasPedras {
    width: 75%;
    display: block;
    margin: 25px auto;
  }

  h3,
  .aboutHeaderTwo {
    font-size: 24px;
    text-align: center;
  }

  .aboutPic {
    display: block;
    margin: 30px auto;
  }

  .aboutSection {
    padding: 45px;
  }
}
