h2,
p {
  font-family: "Poiret One", cursive;
  color: #fff;
}

h1 {
  font-family: "Ultra", serif;
  color: #fff;
}

h2 {
  line-height: 2.5;
}
p {
  color: #fff;
  font-size: 32px;
}

.hero {
  background-color: #000;
  text-align: center;
  padding: 220px 0px;
}
